@model Hotel.Domain.Reservaciones

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reservaciones</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email_R)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email_R)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre_R)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_R)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellidos_R)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellidos_R)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Entrada_R)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Entrada_R)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Salida_R)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Salida_R)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono_R)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono_R)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Habitacion_R)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Habitacion_R)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Especificaion_R)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Especificaion_R)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Reserva }) |
    @Html.ActionLink("Back to List", "Index")
</p>
