@model IEnumerable<Hotel.Domain.Reservaciones>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email_R)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre_R)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellidos_R)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Entrada_R)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Salida_R)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono_R)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Habitacion_R)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Especificaion_R)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email_R)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_R)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellidos_R)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_Entrada_R)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_Salida_R)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono_R)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Habitacion_R)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Especificaion_R)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_Reserva }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_Reserva }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_Reserva })
        </td>
    </tr>
}

</table>
