@model HotelApp.Domain.Entities.Reservaciones

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reservaciones</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email_R)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email_R)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre_R)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre_R)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellidos_R)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellidos_R)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha_Entrada_R)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha_Entrada_R)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha_Salida_R)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha_Salida_R)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono_R)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono_R)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Habitacion_R)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Habitacion_R)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Especificaion_R)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Especificaion_R)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id_Reserva">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
